div.tileRow {
    height:40px;
}
.hasImportable {
    background-color:#9f9;
}
.hasExportable {
    background-color:#99f;
}
div.tile {
    width:40px;
    height:40px;
    display:inline-block;
}
div.tileQuadrant {
    width:20px;
    height:20px;
    position:absolute;
    background-image: url("../default-skin-v2.png");
}
div.nestedSquare {
    position:absolute;
    left:0;
    top:0;
}
div.nestedSquareTL {
    left:0;
    top:0;
}
div.nestedSquareTR {
    left:20px;
    top:0;
}
div.nestedSquareBL {
    left:0;
    top:20px;
}
div.nestedSquareBR {
    left:20px;
    top:20px;
}
div.topSquare {
    opacity: 0.75;
}
div.tileBackground {
    width:40px;
    height:40px;
    background-image: url("../default-skin.png");
    display:inline-block;
    background-position: -80px -80px;
    position:relative;
}
div.selectionIndicator {
    width:40px;
    height:40px;
    background-image: url("../selected.png");
    display:none;
}
div.tileTypeSelectionIndicator {
    width:40px;
    height:40px;
    background-image: url("../selected.png");
    display:none;
}
div.potentialHighlight {
    width:40px;
    height:40px;
    background-color:#99ff99;
    opacity: .5;
    /*background-image: url("selected.png");*/
    display:none;
}
a.dropArea {
    width: 100%;
    height: 100px;
    border:1px dotted #555;
    display:inline-block;
    text-align:center;
    line-height: 100px;
}
a.selectedTool {
    background-color: red;
}
#resizeWidth, #resizeHeight {
    padding: 6px 6px;
    font-weight: normal;
    text-align: center;
}
table {
    margin: auto;
}
label {
    display: block;
}
label.radioLabel {
    display: inline-block;
    width: 20%;
    font-weight: normal;
}
span.input-group-addon {
    padding: 6px 6px;
}
span.glyphicon-flipped {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*filter: FlipH;
    -ms-filter: "FlipH";*/
}
span.glyphicon-rotate-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
span.off-center {
    left: -1.5px;
}
span.off-center2 {
    left: -2px;
}
span.radioSpan {
    margin: 0% 10% 0% 10%;
}
input[type="radio"] {
    display: inline-block;
    width: auto;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
  cursor: pointer;
}
.modal-colored-header {
    background-color: #428bca;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}
.slot {
    display: flex;
    align-items: center;
    text-align: left;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0 4px;
    margin: 4px 0;
}
div.active {
    background-color: rgba(200,200,200,0.75);
}
